#gitignore sirve para decirle a git que ficheros debe de hacer seguimiento o no,
# para no subir a github aquello que no deseemos

# --- variables de entorno
.env

# --- archivos del sistema
Thumbs.db

# --- dependencias
node_modules/

# --- carpetas build
dist/
build/
